		/* Menu */
		.menu ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			background-color: black;
			text-align: center;
			
		}
		.menu ul li {
			display: inline;
			float: center;
		}
		.menu ul li a {
			display: inline-block;
			padding: 10px 20px;
			text-decoration: none;
			color: #53ff1a;
			background-color: #transparent;
		}
		.menu ul li a:hover {
			background-color: #666;
		}       

		/* Contact */
        .contact-form {
            margin-top: 20px;
            border: 1px solid #ccc;
            padding: 20px;
            width: 50%;
            margin: 0 auto;
			text-align: left;
        }
        .form-group {
            margin-bottom: 20px;
        }
        .form-group label {
            display: block;
            font-weight: bold;
        }
        .form-group input, .form-group textarea {
            width: 100%;
            padding: 10px 10px;
            margin-top: 5px;
        }
        .form-group input[type="checkbox"] {
			margin-top: 0;
		}
        .form-group button {
            padding: 10px 20px;
            background-color: #88888;
            color: #53ff1a;
            border: none;
            cursor: pointer;
        }
        .form-group button[type="reset"] {
            background-color: #888;
            margin-left: 10px;
			float: center;
        }
		.form-group button:hover {
			background-color: #555;
		}

		.form-group button[type="reset"]:hover {
			background-color: #555;
		}
		
        /* Tag */
		body {
			background-color: #666;
			color: black;
			text-align: center;
			
		}
		h1, h2, h3, h4, h5, h6 {
            color: #53ff1a;
            text-align: center;
			font-size: 24px;
			background-color: black;
			padding: 10px;
        }
		footer {
			color: #53ff1a;
            text-align: center;
			font-size: 12px;
			background-color: black;
			padding: 10px;
		}
		p {
			padding: 10px;
		}
		
        /* Class */
		.center {
			float: center;
			text-align: center;
		}
		
		/* ID */
		#thirdgrid {	
			display: grid;
			grid-template-columns: 33% 33% 33%;
		}	
		#right {
			float: right;
		}